{% extends 'base.html.twig' %}

{% block title 'Ajouter categorie' %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="container-fluid mt-4">
        <div class="row">

            <div class="col-lg-6 col-md-12">
                <h2>Mes catégories</h2>

                <div class="row">
                    {% for category in categories|batch(2) %}
                        <div class="col-4">
                            {% for categoryName in category %}
                                <div class="my_categories">{{ categoryName.name }}</div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-lg-5 col-md-12 mt-md-5 mt-lg-0 add_category">
                <h2 class="mb-md-5 mb-lg-4">Ajouter une catégorie</h2>
                {{ include('Wild/form/category/_form.html.twig') }}
            </div>

        </div>
    </div>

{% endblock %}
