{% extends 'base.html.twig' %}

{% block title %}Episodes index{% endblock %}

{% block body %}

    <div class="container-fluid mt-3">
        <h2 class="mb-lg-3 mb-md-5">Tous les épisodes</h2>

        <div>
            {% for category in categories %}
                <h3>{{ category.name }}</h3>

                <div class="row">

                    {% for program in category.programs|sort((a, b) => a.title <=> b.title) %}
                        <div class="col-lg-3 col-md-6 mb-5 align-content-center">
                            <h5>
                                <span>__</span> {{ program.title }}
                            </h5>

                            <a href="{{ path('episodes_index', {'id': program.id}) }}" class="add-crud">
                                <i class='fa fa-eye fa-plus-navbar mr-2' style='font-size:1em;color:#00fff7'></i>
                                Voir tous les épisodes
                            </a>

                        </div>
                    {% else %}
                        <p class="mb-lg-2 mb-md-5 text-white ml-4">Aucune série</p>
                    {% endfor %}

                </div>
            {% endfor %}
        </div>

    </div>


{% endblock %}
