.rate {
    color: yellow;
    font-size: 1rem;

    @include media-breakpoint-down(md) {
        font-size: 2rem;
    }
}

.comment {
    color: lightgreen;
    font-size: 1rem;

    @include media-breakpoint-down(md) {
        font-size: 2rem;
    }
}

.stars {
    position: relative !important;
    display: block;
    border: none;
    font-size: 14px;
    left: -7.5rem;
    transform: translateX(-50%);

    @include media-breakpoint-down(md) {
        font-size: 30px;
        left: -7.5rem;
    }

    input {
        border: 0;
        width: 1px;
        height: 1px;
        overflow: hidden;
        position: absolute !important;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
        opacity: 0;
    }

    label {
        position: relative;
        float: right;
        color: #C8C8C8;
    }

    label:before {
        margin: 5px;
        content: "\f005";
        font-family: FontAwesome;
        display: inline-block;
        font-size: 1.5em;
        color: #ccc;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    input:checked ~ label:before {
        color: yellow;
    }

    label:hover ~ label:before {
        color: darken(yellow, 15%)
    }

    label:hover:before {
        color: yellow;
    }
}

#comment_comment {
    border-radius: 0.3rem;
    width: 30rem;
    height: 6rem;
    font-size: 1rem;

    &:focus {
        outline: none !important;
        border-color: rgb(163, 163, 163);
        box-shadow: 0 0 10px rgb(163, 163, 163);
    }

    @include media-breakpoint-down(md) {
        width: 40rem;
        height: 16rem;
        font-size: 2.5rem;
    }
}

.comment-delete {
    color: $text;
    font-size: 0.8rem;

    &:hover {
        text-decoration: none;
        color: $description;
    }

    @include media-breakpoint-down(md) {
        font-size: 1.8rem;
    }
}


