{% extends 'base.html.twig' %}

{% block title %}Modifier {{ season.program.title }}{% endblock %}

{% block body %}
    <div class="container-fluid mt-4">
        <h2>Modifier la saison</h2>

        <h3 class="mt-lg-4 mt-md-5">{{ season.program.title }}</h3>

        <div class="my-3">
            {{ include('season/_form.html.twig', {'button_label': 'Modifier'}) }}
        </div>

        <div class="mt-4">
            <a href="{{ path('seasons_index', {'id': season.program.id}) }}" class="back_crud">
                <i class='fa fa-mail-reply mr-2'></i>
                Retour à la liste des saisons</a>
        </div>

    </div>
{% endblock %}
