{% extends 'base.html.twig' %}

{% block title %}New Season{% endblock %}

{% block body %}

    <div class="container mt-4">
        <h2>Ajouter une saison</h2>

        <h3>{{ program.title }}</h3>

        <div class="my-4">
            {{ include('season/_form.html.twig') }}
        </div>

        <a href="{{ path('season_index') }}" class="backProgram">
            <i class='fa fa-mail-reply mr-2'></i>
            Retour à la liste des saisons</a>

    </div>
{% endblock %}
