<form method="post" action="{{ path('program_delete', {'id': program.id}) }}"
      onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette série ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ program.id) }}">
    <button class="btn p-0"><i class='fa fa-trash delete'></i></button>
</form>
