{% extends 'base.html.twig' %}

{% block title %}Edit Program{% endblock %}

{% block body %}

    <div class="container mt-4">
        <h2>Modifier une série</h2>

        <h3>{{ program.title }}</h3>

        <div class="my-3">
            {{ include('program/_form.html.twig', {'button_label': 'Modifier'}) }}
        </div>

        <div class="mt-4">
            <a href="{{ path('program_index') }}" class="backProgram">
                <i class='fa fa-mail-reply mr-2'></i>
                Retour à la liste des séries</a>
        </div>

    </div>
{% endblock %}
