{% extends 'base.html.twig' %}

{% block title %}Ajouter une série{% endblock %}

{% block body %}
    <div class="container-fluid mt-4">
        <h2>Ajouter une série</h2>

        <div class="my-3">
            {{ include('program/_form.html.twig') }}
        </div>

        <a href="{{ path('program_index') }}" class="back_crud">
            <i class='fa fa-mail-reply mr-2'></i>
            Retour à la liste des séries</a>

    </div>
{% endblock %}
