<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
{% if slug %}
    <h1>{{ slug }} </h1>
{% else %}
    <h1>Aucune série sélectionnée, veuillez choisir une série</h1>
{% endif %}
</body>
</html>