{% extends 'base.html.twig' %}

{% block title %}Modifier {{ actor.name }}{% endblock %}

{% block body %}

    <div class="container-fluid my-4">
        <h2>Modifier l'acteur</h2>

        <h3 class="mt-lg-4 mt-md-5">{{ actor.name }}</h3>

        <div class="">
            {{ include('actor/_form.html.twig', {'button_label': 'Modifier'}) }}
        </div>

        <div class="mt-lg-4 mt-md-5">
            <a href="{{ path('actor_new') }}" class="back_crud">
                <i class='fa fa-mail-reply mr-2'></i>
                Retour à la liste des acteurs</a>
        </div>

    </div>
{% endblock %}
