@import "color";
@import "mixin";

.my_categories {
    color: $text;
    font-size: 1.4rem;

    @include media-breakpoint-down(md) {
        font-size: $paragraph-mobile;
    }
}

.add_category {
    background-color: #868686;
    padding: 2rem;
    min-height: 15rem;
}

.button {
    @include button;
}

::placeholder {
    padding: 1rem;
}

#category_name {
    @include input;
    width: 25rem;

    @include media-breakpoint-down(md) {
        width: 40rem;
    }
}
