@import "color";
@import "mixin";

h2 {
    color: $title;
}

.my_categories {
    color: $title;
    font-size: 1.4rem;
}

.add_category {
    background-color: #868686;
    padding: 2rem;
    height: 15rem;
}

.btn_add {
    @include button;
}

::placeholder {
    padding: 1rem;
}

#category_name {
    width: 25rem;
}