@import "color";

.cardEpisodes {
    max-height: 22rem;

    > .imgEpisode {
        max-height: 22rem;
        opacity: 0.3;
    }
}

.cardEpisodesDescription {
    min-height: 15rem;
    min-width: 35rem;

    > .imgEpisodeDescription {
        max-height: 15rem;
        min-width: 35rem;
        opacity: 0.3;
    }

    > .overlayDescription {
        overflow: auto;
    }
}

.titleEpisode, .textEpisode {
    font-weight: bold;
}

.linkEpisode {
    color: white;
    font-weight: bold;

    &:hover {
        color: $title;
        text-decoration-color: $secondary;
    }
}

.smallTitleEpisode {
    font-size: 1.5rem;
    font-weight: bold;
}

.comments {
    min-width: 20rem;
    max-height: 25rem;
    background-color: whitesmoke;
    word-wrap: break-word;
    overflow: auto;

    .comment-title {
        color: black;
    }

    .username {
        font-weight: bold;
        color: $primary;
    }

    .username-me {
        font-weight: bold;
        color: darken($secondary, 20%);
    }

    .breaker {
        border: 1px solid gray;
        margin-bottom: 1rem;
    }
}