@import "color";

.program-select-episode {
    border: none;
    background-color: $primary;

    .description-program-episode {
        margin-left: 15rem;
        margin-top: 2.5rem;
    }

}

.comments {
    min-width: 20rem;
    max-height: 25rem;
    word-wrap: break-word;
    overflow: auto;

    @include media-breakpoint-down(md) {
        max-height: 50rem;
    }

    .comment-title {
        color: $text;
    }

    .username-me {
        font-weight: bold;
        color: red;
        font-size: 1rem;
        @include media-breakpoint-down(md) {
            font-weight: bold;
            color: red;
            font-size: 2.2rem;
        }
    }

    .username {
        font-weight: bold;
        color: lightblue;
        font-size: 1rem;
        @include media-breakpoint-down(md) {
            font-weight: bold;
            color: lightblue;
            font-size: 2.2rem;
        }
    }

    .all-comments {
        font-size: 1rem;
        color: $text;

        @include media-breakpoint-down(md) {
            font-size: 2.2rem;
            color: $text;
        }

    }

}