.home-title {
    color: $text;
    margin-top: 15%;

    @include media-breakpoint-down(md) {
        margin-top: 50%;
    }
}

.home-span {
    color: $secondary;
}

.home-link {
    color: $text;

    &:hover {
        color: $text;
        text-decoration-color: $primary;
    }
}