$h1-size: 3em;
$h1-size-mobile: 4.7em;
$h2-size-mobile: 3.4em;
$h3-size: 1.8em;
$h3-size-mobile: 3.2em;
$h4-size-mobile: 2.8em;
$h5-size-mobile: 2.4em;
$back-mobile: 2.4em;
$modal-font-size: 1.5em;
$modal-font-size-mobile: 3em;
$paragraph: 1em;
$paragraph-mobile: 2.2em;
