@import "new";

.actor-name {
    color: wheat;
}

.actor-title {
    color: $text;
}

.actor-program-title {
    color: wheat;

    &:hover {
        text-decoration-color: $primary;
        color: wheat;
    }
}
