{% extends "base.html.twig" %}

{% block body %}

    <h1>Bienvenue sur Wild Series</h1>
    <h2>Choisissez une catégorie</h2>
    {# templates/index.html.twig #}
    {% for category in categories %}

        <a href="{{ path('show_category', { 'categoryName': category.name }) }}">
            {{ category.name }}
        </a>

    {% endfor %}
{% endblock %}