{% extends "base.html.twig" %}

{% block body %}

    <div class="container-fluid home">

        <h1 class="text-center mb-5 home-title">Bienvenue sur Wild<span class="home-span">Series</span></h1>

        <a href="{{ path('wild_index') }}" class="home-link">
            <h3 class="text-center mt-5">Découvrez toutes nos séries ici !</h3>
        </a>

    </div>

{% endblock %}